version: '3.8'
services:
  db:
    image: postgres:16
    container_name: pin4u-local-db
    environment:
      POSTGRES_DB: pin4u_be
      POSTGRES_USER: pin4u
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: